<!DOCTYPE html>
<html>
  <head>
    <title>GoodBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <div class="header">
      <h1>Books reviews</h1>
      <span>Honest reviews</span>
    </div>
    <%= yield %>
  </body>
</html>
